<p class="header"> İstifadəçilər rəyləri</p>
<div class="feedbacks">
  <div class="d-card">
    <div class="d-card-header">
      <div class="d-card-header-image">
        <img src="./assets/img/co-1.png">
      </div>
      <div class="d-card-header-info">
        <div class="name">Javid Hasanov</div>
        <div class="d-rating">
          <star-rating
          [starType]="'svg'"
          [rating]="4.5"
          labelPosition="top"
          [readOnly]="true"
          [staticColor]="'ok'"
          [showHalfStars]="true"
          ></star-rating>
        </div>
        <div class="comment-date">1 month ago</div>
      </div>
      <div class="d-card-header-aside">
          <fa-icon [icon]="faEllipsis"></fa-icon>
      </div>
    </div>
    <div class="d-card-content">
      This course has been designed by two professional Data Scientists so that we can share our
      knowledge and help you learn complex theory, algorithms and coding libraries in a simple way.
      We will walk you step-by-step into the World of Machine Learning. With every tutorial you will develop new skills and improve your understanding of this challenging yet lucrative sub-field of Data Science.We will walk you step-by-step into the World of Machine Learning.
       With every tutorial you will develop new skills and improve your understanding of this challenging yet lucrative sub-field of Data Science.
    </div>
  </div>

  <div class="d-card">
    <div class="d-card-header">
      <div class="d-card-header-image">
        <img src="./assets/img/co-1.png">
      </div>
      <div class="d-card-header-info">
        <div class="name">Javid Hasanov</div>
        <div class="d-rating">
          <star-rating
          [starType]="'svg'"
          [rating]="4.5"
          labelPosition="top"
          [readOnly]="true"
          [staticColor]="'ok'"
          [showHalfStars]="true"
          ></star-rating>
        </div>
        <div class="comment-date">1 month ago</div>
      </div>
      <div class="d-card-header-aside">
          <fa-icon [icon]="faEllipsis"></fa-icon>
      </div>
    </div>
    <div class="d-card-content">
      This course has been designed by two professional Data Scientists so that we can share our
      knowledge and help you learn complex theory, algorithms and coding libraries in a simple way.
      We will walk you step-by-step into the World of Machine Learning. With every tutorial you will develop new skills and improve your understanding of this challenging yet lucrative sub-field of Data Science.We will walk you step-by-step into the World of Machine Learning.
       With every tutorial you will develop new skills and improve your understanding of this challenging yet lucrative sub-field of Data Science.
    </div>
  </div>
</div>
