<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="course-content-info">
        <div class="header">Kurs ardicilligi</div>
        <div class="text">
          * Handle specific topics like Reinforcement Learning, NLP and Deep Learning <br>
          * Handle advanced techniques like Dimensionality Reduction <br>
          * Know which Machine Learning model to choose for each type of problem <br>
          * Build an army of powerful Machine Learning models and know how to combine them to solve any problem <br>
          * Handle advanced techniques like Dimensionality Reduction <br>
          * Handle specific topics like Reinforcement Learning, NLP and Deep Learning
        </div>
      </div>
    </div>
  </div>
</div>
