$hamburger-layer-color: black!important;
$hamburger-layer-width: 22px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-height: 2px;
@import '../../../node_modules/hamburgers/_sass/hamburgers/hamburgers';
