:host {
  display: block;
  padding-top: 2.8em;
}
.row {
  border-bottom: 1px solid #dbdada;
}
.about,.what-will-you-learn {
  padding-bottom: 2.68em;
  .header {
      font-family: Roboto-bold;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.44;
      letter-spacing: 0.3px;
      text-align: left;
      color: #000000;
  }
  .text {
      padding-top: 1.5em;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.64;
      letter-spacing: 0.2px;
      text-align: left;
      color: #3f3f3f;
  }
}
.video-preview {
  width: 500px;
  height: 300px;
  padding-top: 2.68em;
}
