<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="about">
        <p class="header">Kurs haqqında:</p>
        <p class="text">
            This course has been designed by two professional Data Scientists
             so that we can share our knowledge and help you learn complex theory, algorithms and coding libraries in a simple way.
            We will walk you step-by-step into the World of Machine Learning.
             With every tutorial you will develop new skills and improve your understanding of this challenging yet lucrative sub-field of Data Science.
            We will walk you step-by-step into the World of Machine Learning.
            With every tutorial you will develop new skills and improve your understanding of this challenging yet lucrative sub-field of Data Science.
        </p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-7">
        <div class="what-will-you-learn">
            <div class="about pt-3">
                <p class="header">Kursda oyrənəcəkləriniz</p>
                <p class="text">
                    * Handle specific topics like Reinforcement Learning, NLP and Deep Learning <br>
                    * Handle advanced techniques like Dimensionality Reduction <br>
                    * Know which Machine Learning model to choose for each type of problem <br>
                    * Build an army of powerful Machine Learning models and know how to combine them to solve any problem <br>
                    * Handle advanced techniques like Dimensionality Reduction <br>
                    * Handle specific topics like Reinforcement Learning, NLP and Deep Learning
                </p>
              </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="video-preview">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/PFmuCDHHpwk?start=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
   <div class="row">
     <div class="col-6">
       <app-course-feedbacks></app-course-feedbacks>
     </div>
   </div>
</div>
