<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-7">
      <div class="about">
        <div class="site-name">
          <p>UNİBOOK</p>
        </div>
        <div class="about-content">
          <p>Təhsilin informasiya idarə etmə sisteminin tətbiqi həmçinin tələbələrin və müəllimlərin elektron məlumat
            bazasının yaradılmasını, tədris prosesinin, təhsilin məzmunun və insan resurslarının elektron idarə
            edilməsini təmin edəcək. Sistem vasitəsilə eyni zamanda elektron qiymətləndirmə, elektron imtahan və təqaüd
            hesablanması da həyata keçiriləcək. “Unibooka” daxil olmaq istəyən tələbə və müəllimlərə verilən onlayn
            giriş imkanı ilə onlar istənilən məlumatı öyrənə biləcəklər.
          </p>
        </div>
        <div class="login">
          <button>Daxil ol</button>
        </div>
      </div>
    </div>
    <div class="col-lg-5" style="overflow: hidden">
      <div class="book-cover">
        <div class="icon">
          <img src="./assets/img/book@3x.png">
        </div>
      </div>
    </div>
    <!-- Partners -->
    <div class="col-12 p-0">
      <div class="partners">
        <div class="name">
          <p>PARTNYORLARIMIZ</p>
        </div>
        <div class="structures">
          <div class="structure">
            <img src="./assets/icons/university.svg">
            <div class="info">
              <p>Təhsil Nazirliyi</p>
            </div>
          </div>

          <div class="structure">
            <img src="./assets/icons/school.svg">
            <div class="info">
              <p>ADNSU</p>
            </div>
          </div>

          <div class="structure">
            <img src="./assets/icons/university-1.svg">
            <div class="info">
              <p>MDU</p>
            </div>
          </div>

          <div class="structure">
            <img src="./assets/icons/university-2.svg">
            <div class="info">
              <p>UTECA</p>
            </div>
          </div>


          <div class="structure">
            <img src="./assets/icons/bsu.svg">
            <div class="info">
              <p>BSU</p>
            </div>
          </div>

          <div class="structure">
            <img src="./assets/icons/adpu.svg">
            <div class="info">
              <p>QKU</p>
            </div>
          </div>


          <div class="structure">
            <img src="./assets/icons/university-3.svg">
            <div class="info">
              <p>QKU</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Mobile icon -->
    <div class="col-12">
      <div class="mobile-icon">
        <img src="./assets/icons/unibookMobile.svg">
      </div>
    </div>
    <!--  News Section -->
    <div class="col-12">
      <div class="news-section">

        <div class="content">
          <div class="icon "
          data-aos="fade-right"
          >
            <div class="overlay"></div>
            <img src="./assets/img/group-1@3x.png">
          </div>
          <div class="text">
            <div class="name">
              <p>Təhsil xəbərləri bölməsi</p>
            </div>
            <p>Bu bölmə vasitəsi ilə tələbələr üçün vacib olan təhsil sahəsində baş
              verən son məlumatlar haqqında son və ətraflı məlumatlar əldə edə biləcəklər.
              Bu bölmə vasitəsi ilə tələbələr üçün vacib olan təhsil sahəsində baş verən son məlumatlar
              haqqında son və ətraflı məlumatlar əldə edə biləcəklər.Bu bölmə vasitəsi ilə tələbələr
              üçün vacib olan təhsil sahəsində baş verən son məlumatlar haqqında son və ətraflı məlumatlar əldə edə
              biləcəklər.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="news-section second">
        <div class="content">

          <div class="icon right"
          data-aos="fade-left"
          ><img src="./assets/img/group-2@3x.png"></div>
          <div class="text">
            <div class="name">
              <p>Mövzular bölməsi</p>
            </div>
            <p>Tələbə “Unibook” mobil təminatı vasitəsi ilə keçirilən dərslərin mövzularını əldə etmək,
              paylaşmaq, çap etmək və s.
              fursətini qazanir.Tələbə “Unibook” mobil təminatı vasitəsi ilə keçirilən
              dərslərin mövzularını əldə etmək, paylaşmaq, çap etmək və s. fursətini qazanir.
            </p>
          </div>
        </div>
      </div>

    </div>
    <!-- Library Section -->
    <div class="col-12 p-0">
      <div class="library-section">
        <div class="overlay">
        </div>

        <div class="content">
          <div class="icon"
          data-aos="fade-down"
          ><img src="./assets/img/group-3@3x.png"></div>
          <div class="text">
            <div class="name">
              <p>Kitabxana bölməsi</p>
            </div>
            <p>Kitabxana vasitəsi ilə tələbələr istənilən dərs və qeyri
              dərs vəsaitlərini əldə edə biləcəklər, onları paylaşmaq və yükləmək imkanı yaradılacaq.
            </p>

          </div>
        </div>
        <div class="download-icons">
          <div class="apple">
            <img src="./assets/img/layer-1@3x.png">
          </div>
          <div class="play-market">
            <img src="./assets/img/layer-2-copy@3x.png">
          </div>
        </div>
      </div>
    </div>
    <!-- Web icon -->
    <div class="col-12">
      <div class="mobile-icon">
        <img src="./assets/icons/unibookWeb.svg">
      </div>
    </div>
    <!--  Edu News -->
    <div class="col-12 p-0">
      <div class="edu-news-section">

        <div class="content">
          <div class="text main">
              <div class="name">
                  <p>Təhsil xəbərləri
                    bölməsi</p>
                </div>
            <p>Tələbə “Unibook” mobil təminatı vasitəsi ilə keçirilən dərslərin mövzularını əldə etmək,
              paylaşmaq, çap etmək və s.
              fursətini qazanir.Tələbə “Unibook” mobil təminatı vasitəsi ilə keçirilən
              dərslərin mövzularını əldə etmək, paylaşmaq, çap etmək və s. fursətini qazanir.
            </p>
          </div>
          <div class="icon web-main"
          data-aos="fade-right">
            <img src="./assets/img/mockupwww@3x.png">
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 p-0">
      <div class="edu-news-section">

        <div class="content">
          <div class="text lms">
              <div class="name">
                  <p>Təhsil xəbərləri
                    bölməsi</p>
                </div>
            <p>Bu bölmə vasitəsi ilə tələbələr üçün vacib olan təhsil sahəsində baş verən son məlumatlar haqqında son
              və ətraflı məlumatlar əldə edə biləcəklər.
            </p>
          </div>
          <div class="icon web-lms"
          data-aos="fade-left"
          ><img src="./assets/img/u-1@3x.png"></div>
        </div>

      </div>
    </div>

    <div class="col-12 p-0">
      <div class="edu-news-section">

        <div class="content">
          <div class="text main">
              <div class="name">
                  <p>Təhsil xəbərləri
                    bölməsi</p>
                </div>
            <p>Bu bölmə vasitəsi ilə tələbələr üçün vacib olan təhsil sahəsində baş verən son məlumatlar haqqında son
              və ətraflı məlumatlar əldə edə biləcəklər.
              Bu bölmə vasitəsi ilə tələbələr üçün vacib olan təhsil sahəsində baş verən son məlumatlar haqqında son və
              ətraflı məlumatlar əldə edə biləcəklər.
            </p>
          </div>
          <div class="icon web-other"
          data-aos="fade-left"
          ><img src="./assets/img/uu@3x.png"></div>
        </div>
      </div>
    </div>
  </div>
