:host {
  display: block;
  padding-top: 59px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;

  .site-name {
    p {
      font-family: Roboto-bold;
      width: 167px;
      font-size: 40px;
      font-weight: 900;
      line-height: 1.6;
      text-align: left;
      color: #000000;
    }
  }

  .about-content {
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.78;
      letter-spacing: -0.4px;
      text-align: justify;
      color: #000000;
    }
  }

  .login {
    margin-top: 37px;

    button {
      color: white;
      outline: 0;
      border: 0;
      width: 185px;
      height: 43px;
      border-radius: 2px;
      background-image: linear-gradient(to right, #dd2853, #e83380);
    }
  }
}
.book-cover {
display: none;
}
.partners {
  width: 100%;
  background-image: linear-gradient(to right, #5bc0df, #01abec);

  .name {
    margin-top: 60px;

    p {
      padding-top: 60px;
      font-size: 30px;
      font-weight: 900;
      line-height: 2.13;
      letter-spacing: -0.8px;
      text-align: center;
      color: #ffffff;
    }
  }

  .structures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 40px 60px 40px;

    .structure {
      width: 50px;
      margin: 20px 20px 0 20px;

      img {
        width: 100%;
      }

      .info {
        padding-top: 9px;

        p {
          font-family: Roboto;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.07;
          letter-spacing: -0.4px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}

.mobile-icon {
  display: flex;
  justify-content: center;
  height: 70px;
  margin: 0 auto;
  margin-top: 65px;
  img {
    height: 100%;
  }
}

.news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  padding-top: 60px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      margin-top: 40px;
      flex: 0 0 187px;
      height: 334px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .text {
      .name {
        padding-bottom: 30px;
        width: 230px;
        p {
          font-family: Roboto-bold;
          font-size: 35px;
          font-weight: 900;
          line-height: 1;
          letter-spacing: -0.9px;
          text-align: center;
          color: #000000;
        }
      }

      &.pt {
        padding-top: 40px;
      }

      p {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.5px;
        text-align: center;
        color: #000000;
      }
    }
  }
}
.news-section:nth-child(1) {
  padding-top: 0;
}
.library-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  padding-top: 40px;
  position: relative;

  .overlay {
    background-image: linear-gradient(to right, #5bc0df, #01abec);
    position: absolute;
    width: 100%;
    height: calc(100% - 262px);
    z-index: -1;
    margin-top: 222px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      margin-top: 40px;
      flex: 0 0 187px;
      height: 334px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .text {
      .name {
        p {
          font-family: Roboto-bold;
          font-size: 35px;
          font-weight: 900;
          line-height: 1;
          letter-spacing: -0.9px;
          text-align: center;
          color: #000000;
        }
      }

      p {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.5px;
        text-align: center;
        color: white;
        padding-top: 15px;
      }
    }
  }

  .download-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;

    .apple,
    .play-market {
      width: 200px;

      img {
        width: 100%;
      }
    }
  }
}

.edu-news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;



  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      width: 187px;
      height: 334px;
      position: relative;

      &.web-main {
        width: 264px;
        align-self: flex-end;
        overflow: hidden;

        img {
          position: absolute;
          right: -88px;
        }
      }

      &.web-lms {
        width: 375px;
        align-self: flex-start;
        overflow: hidden;

        img {
          position: absolute;
          left: -143px;
        }
      }

      &.web-other {
        width: 375px;
        object-fit: contain;
        align-self: flex-end;
        overflow: hidden;

        img {
          position: absolute;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .text {
      padding: 0 40px;
      padding-top: 40px;
      .name {
        p {
          width: 230px;
          font-family: Roboto-bold;
          font-size: 35px;
          font-weight: 900;
          line-height: 1;
          letter-spacing: -0.9px;
          text-align: center;
          color: #000000;
          margin: 0 auto;
        }
      }
      p {
        padding-top: 30px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.5px;
        text-align: center;
        color: #000000;
      }
    }
  }
}
.edu-news-section:nth-child(1) {
  padding-top: 0;
  .content {
    .text {
      .name {
        p {
        padding-top: 0;
        }
      }
    }
  }
}
.footer {
  .logo-co {
    background-color: #3f3f3f;
    padding: 60px 80px;

    .logo {
      width: 114px;
      height: 24px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .company {
    background-color: #000000;

    p {
      font-family: Roboto;
      font-size: 12px;
      line-height: 3.36;
      letter-spacing: -0.3px;
      text-align: center;
      color: #ffffff;
    }
  }
}

@media all and (min-width: 768px) {
  .about {
    align-items: flex-start;
  }

  .partners {
    .structures {
      padding-left: 180px;
      padding-right: 180px;

      .structure {
        margin: 20px 40px 0 40px;
      }
    }
  }

  .news-section {
    .content {
      flex-direction: row;
      align-items: flex-start;

      .icon {
        margin-top: 30px;

        &.right {
          order: 1;
        }
      }

      .text {
        padding-top: 40px;

        .name {
          p {
            text-align: start;
          }
        }

        p {
          text-align: start;
        }
      }
    }
  }

  .library-section {
    align-items: center;
    padding-left: 0;
    padding-right: 0;

    .overlay {
      height: calc(100% - 114px);
      margin-top: 100px;
    }

    .content {
      flex-direction: row;
      justify-content: center;
      padding-right: 130px;
      align-items: flex-start;
      padding: 0 40px;

      .icon {
        margin-top: -80px;
      }

      .text {
        flex: 0 0 35%;
        .name {
          width: 150px;

          p {
            text-align: start;
          }
        }

        p {
          padding-top: 30px;
          text-align: start;
        }
      }
    }

    .download-icons {
      flex-direction: row;
      padding-top: 0;
      .apple, .play-market {
        width: 270px;
      }
    }
  }

  .edu-news-section {
    align-items: center;
    padding-left: 122px;
    padding-right: 122px;


    .content {
      .icon {
        margin-top: 20px;
        &.web-main {
          align-self: center;
          width: 544px;

          img {
            position: static;
          }
        }

        &.web-lms {
          align-self: center;
          width: 546px;

          img {
            position: static;
          }
        }
      }

      .text {
        &.main {
          .name {
            padding-left: 0;

            p {
              width: 230px;
              text-align: start;
            }
          }
        }

        &.lms {
          .name {
            p {
            margin-left: auto;
              text-align: end;
            }
          }
          p {
            text-align: end;
          }

        }
        .name {
          p {
          margin: 0;
          }
        }
        p {
          text-align: start;
        }
      }
    }
  }
}

@media all and (min-width: 992px) {
  .about {
    padding-left: 120px;
  }
  .book-cover {
    display: flex;
    justify-content: flex-end;
    width: 488px;
    height: 428px;
    position: relative;;
    align-items: center;
    right: -15%;
    justify-content: center;
    border-radius: 50%;
    background-image: linear-gradient(to right, #5cc0df, #00abec);
    box-shadow: 9px 10.7px 23.5px 0.5px rgba(0, 0, 1, 0.2);
     .icon {
       flex: 0 0 420px;
       img {
         width: 100%;
       }
     }
  }
  .news-section {
     &.second {
       .content {
         justify-content: flex-end;
       }
     }
    .content {
      .text {
        p {
          width: 475px;
        }
      }
      .icon {
        flex: 0 0 261px;
        height: 467px;
      }
    }
  }
  .library-section {
    .content {
      .icon {
        flex: 0 0 261px;
        height: 467px;

      }
    }
  }
}

@media all and (min-width: 1199px) {
 .book-cover {
   right: -40%;
 }
 .edu-news-section {
   .content {
     flex-direction: row;
     justify-content: center;
     .text {
       flex: 0 0 40%;
       &.lms {
         order: 1;
       }
     }
     .icon {
       flex: 0 0 40%;
     }
   }
 }
}
