<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="about">
        <div class="site-name">
          <p>UNIBOOK</p>
        </div>
        <div class="about-content">
          <p>Təhsilin informasiya idarə etmə sisteminin tətbiqi həmçinin tələbələrin və müəllimlərin elektron məlumat
            bazasının yaradılmasını, tədris prosesinin, təhsilin məzmunun və insan resurslarının elektron idarə
            edilməsini təmin edəcək. Sistem vasitəsilə eyni zamanda elektron qiymətləndirmə, elektron imtahan və təqaüd
            hesablanması da həyata keçiriləcək. “Unibooka” daxil olmaq istəyən tələbə və müəllimlərə verilən onlayn
            giriş imkanı ilə onlar istənilən məlumatı öyrənə biləcəklər.
          </p>
        </div>
        <div class="login">
          <button>Daxil ol</button>
        </div>
      </div>
    </div>
    <div class="col-12 p-0">
      <div class="partners">
        <div class="name">
          <p>PARTNYORLARIMIZ</p>
        </div>
        <div class="structures">
          <div class="structure">
            <img src="/assets/icons/university.svg">
            <div class="info">
              <p>Təhsil Nazirliyi</p>
            </div>
          </div>

          <div class="structure">
            <img src="/assets/icons/school.svg">
            <div class="info">
              <p>ADNSU</p>
            </div>
          </div>

          <div class="structure">
            <img src="/assets/icons/university-1.svg">
            <div class="info">
              <p>MDU</p>
            </div>
          </div>

          <div class="structure">
            <img src="/assets/icons/university-2.svg">
            <div class="info">
              <p>UTECA</p>
            </div>
          </div>

          <div class="structure">
            <img src="/assets/icons/university-3.svg">
            <div class="info">
              <p>QKU</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  <div class="col-12">
      <div class="mobile-icon">
          <img src="/assets/img/mobile@3x.png">
        </div>
  </div>
    <div class="col-12">
      <div class="news-section">

        <div class="name">
          <p>Təhsil xəbərləri bölməsi</p>
        </div>
        <div class="icon"><img src="/assets/img/group-1@3x.png"></div>
        <div class="content">
          <p>Bu bölmə vasitəsi ilə tələbələr üçün vacib olan təhsil sahəsində baş
            verən son məlumatlar haqqında son və ətraflı məlumatlar əldə edə biləcəklər.
            Bu bölmə vasitəsi ilə tələbələr üçün vacib olan təhsil sahəsində baş verən son məlumatlar
            haqqında son və ətraflı məlumatlar əldə edə biləcəklər.Bu bölmə vasitəsi ilə tələbələr
            üçün vacib olan təhsil sahəsində baş verən son məlumatlar haqqında son və ətraflı məlumatlar əldə edə
            biləcəklər.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="news-section">
        <div class="name">
          <p>Mövzular bölməsi</p>
        </div>
        <div class="icon"><img src="/assets/img/group-2@3x.png"></div>
        <div class="content">
          <p>Tələbə “Unibook” mobil təminatı vasitəsi ilə keçirilən dərslərin mövzularını əldə etmək,
            paylaşmaq, çap etmək və s.
            fursətini qazanir.Tələbə “Unibook” mobil təminatı vasitəsi ilə keçirilən
            dərslərin mövzularını əldə etmək, paylaşmaq, çap etmək və s. fursətini qazanir.
          </p>
        </div>
      </div>

    </div>
    <div class="col-12 p-0">
        <div class="library-section">
            <div class="overlay">
              </div>
          <div class="name">
            <p>Kitabxana bölməsi</p>
          </div>
          <div class="icon"><img src="/assets/img/group-3@3x.png"></div>
          <div class="content">
            <p>Kitabxana vasitəsi ilə tələbələr istənilən dərs və qeyri
              dərs vəsaitlərini əldə edə biləcəklər, onları paylaşmaq və yükləmək imkanı yaradılacaq.
            </p>
            <div class="download-icons">
              <div class="apple">
                <img src="/assets/img/layer-1@3x.png">
              </div>
              <div class="play-market">
                <img src="/assets/img/layer-2-copy@3x.png">
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="col-12">
      <div class="mobile-icon">
          <img src="/assets/img/web@3x.png">
        </div>
  </div>
  <div class="col-12 p-0">
      <div class="edu-news-section" style="padding-top: 60px;">
          <div class="name">
            <p>Təhsil xəbərləri
                bölməsi</p>
          </div>
          <div class="content">
            <p>Tələbə “Unibook” mobil təminatı vasitəsi ilə keçirilən dərslərin mövzularını əldə etmək,
              paylaşmaq, çap etmək və s.
              fursətini qazanir.Tələbə “Unibook” mobil təminatı vasitəsi ilə keçirilən
              dərslərin mövzularını əldə etmək, paylaşmaq, çap etmək və s. fursətini qazanir.
            </p>
          </div>
          <div class="icon web-main"><img src="/assets/img/mockupwww@3x.png"></div>

        </div>
  </div>

  <div class="col-12 p-0">
      <div class="edu-news-section">
          <div class="name">
            <p>Təhsil xəbərləri
                bölməsi</p>
          </div>
          <div class="content">
            <p>Bu bölmə vasitəsi ilə tələbələr üçün vacib olan təhsil sahəsində baş verən son məlumatlar haqqında son və ətraflı məlumatlar əldə edə biləcəklər.
            </p>
          </div>
          <div class="icon web-lms"><img src="/assets/img/u-1@3x.png"></div>

        </div>
  </div>

  <div class="col-12 p-0">
      <div class="edu-news-section" >
          <div class="name">
            <p>Təhsil xəbərləri
                bölməsi</p>
          </div>
          <div class="content">
            <p>Bu bölmə vasitəsi ilə tələbələr üçün vacib olan təhsil sahəsində baş verən son məlumatlar haqqında son və ətraflı məlumatlar əldə edə biləcəklər.
              Bu bölmə vasitəsi ilə tələbələr üçün vacib olan təhsil sahəsində baş verən son məlumatlar haqqında son və ətraflı məlumatlar əldə edə biləcəklər.
            </p>
          </div>
          <div class="icon web-other"><img src="/assets/img/uu@3x.png"></div>
        </div>
  </div>
  <div class="col-12 p-0">
    <div class="footer">
     <div class="logo-co">
        <div class="logo">
            <img src="/assets/icons/unibdsook-1-copy-2.svg">
            </div>
     </div>
      <div class="company">
           <p>Created by Neuron Technologies</p>
      </div>
    </div>
  </div>
</div>
