:host {
  display: block;
  padding-top: 4.06rem;
  position: relative;
}

.header-co {
  display: flex;
  align-items: center;
  .unibook-ico {
    width: 30px;
    margin-left: 43px;
  }
  .custom-btn {
    margin-left: auto;
    margin-right: 23px;
    outline: 0;
  }
  .links {
    display: flex;
   flex-direction: column;
   position: absolute;
   right: 25px;
   top: 126px;
   box-shadow: rgba(0, 0, 0, 0.64) 0px 0px 14px 0px;
   z-index: 2;
   .link {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    outline: 0;
    position: relative;
    &.active {
      .circle {
        display: block;
      }
    }
    .circle {
      display: none;
      width: 10px;
      height: 10px;
      background: black;
      border-radius: 50%;
      position: absolute;
      bottom: -12px;
    }
    a {
      text-decoration: none;
      font-family: Roboto;
      font-size: 16px;
      line-height: 2.38;
      text-align: left;
      color: #000000;
    }
   }
  }
}

@media all and (min-width: 1199px) {
.header-co {
  .unibook-ico {
    margin-left: 0;
  }
  .custom-btn {
    display: none;
  }
  .links {
    display: flex!important;
    flex-direction: row;
    top: 63px;
    left: 200px;
    box-shadow: none;
    position: static;
    padding-left: 75px;
  }
}
}
