:host {
  display: block;
  padding-top: 4.06rem;
  position: relative;
}

.header-co {
  display: flex;
  align-items: center;
  .unibook-ico {
    width: 30px;
    margin-left: 43px;
  }
  .custom-btn {
    margin-left: auto;
    margin-right: 23px;
    outline: 0;
  }
  .links {
    display: flex;
   flex-direction: column;
   position: absolute;
   right: 25px;
   top: 126px;
   box-shadow: rgba(0, 0, 0, 0.64) 0px 0px 14px 0px;
   z-index: 2;
   background: white;
  a {
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    line-height: 2.38;
    text-align: left;
    color: #000000;
    padding: 0 30px;
  }
  }
}

@media all and (min-width: 1199px) {
.header-co {
  .custom-btn {
    display: none;
  }
  .links {
    display: flex!important;
    flex-direction: row;
    top: 63px;
    left: 200px;
    box-shadow: none;
  }
}
}
